# MkDocs site
site/

# Python virtual environments
.venv/
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Obsidian vault
.obsidian/
docs/.obsidian/